# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/galleries/*
!web/app/galleries/.gitkeep

# WordPress
web/wp
web/.htaccess
web/.htaccess.*
!web/.htaccess.example

# Dotenv
.env
.env.*
!.env.example

# Database
!config/database.yml
config/database.*.yml
!config/database.yml.example
db/*.sql*

# Composer
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant

# IDE
.DS_Store
.idea
debug.log

# Apache
.htpasswd
.htpasswd.*
!.htpasswd.example